.active {
    color: #f6ad55;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

.logo {
  font-family: 'Quicksand', sans-serif;
}

:root {
  --color-background: #fff;
  --color-on-background: #1A202C;
  --color-primary: #6200ee;
  --color-on-primary: #fff;
  --color-secondary: #03dac6;
  --color-on-secondary: #000;
  --color-error: #b00020;
  --color-on-error: #fff;
}

body[data-theme="dark"] {
  --color-background: #1A202C;
  --color-on-background: #fff;
  --color-primary: #bb86fc;
  --color-on-primary: #000;
  --color-secondary: #03dac6;
  --color-on-secondary: #000;
  --color-error: #cf6679;
  --color-on-error: #000;
}

body {
  background: var(--color-background);
  color: var(--color-on-background);
}

.themeHeading {
    color: var(--color-on-background);
}


input {
  background: var(--color-background);
  color: var(--color-on-background);
  padding: 0.25rem;
}

.toggle-theme {
  background: none;
  border: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.toggle-theme img {
  width: 20px;
}